@{
    ViewData["Title"] = "Home Page";
}
<section class="hidden-bar right-align">

            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">

                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html"><img src="images/logo-3.png" alt=""></a>			
                </div><!-- /.logo -->

                <!-- .Side-menu -->
                <div class="side-menu">
                <!-- .navigation -->
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a title="Về chúng tôi" href="@Url.Action("Index", "About", new { area = ""})">About Us</a>
                            <ul class="submenu">
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li class="dropdown"><a href="gallery.html">Gallery</a>
                                    <ul class="submenu">
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="error.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="practice-areas.html">Practice Areas</a>
                            <ul class="submenu">
                                <li><a href="law-single.html">Cosumer Law</a></li>
                                <li><a href="law-single.html">Family Law</a></li>
                                <li><a href="law-single.html">Criminal Law</a></li>
                                <li><a href="law-single.html">Drug Control Law</a></li>
                                <li><a href="law-single.html">Business Law</a></li>
                                <li><a href="law-single.html">Insurance Law</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="attorneys.html">Attorneys</a>
                            <ul class="submenu">
                                <li><a href="attorney-single.html">David Vigo Michel</a></li>
                                <li><a href="attorney-single.html">Jem Stone Lawrence</a></li>
                                <li><a href="attorney-single.html">Mercy Van Desosa</a></li>
                                <li><a href="attorney-single.html">Patrick John Meckey</a></li>
                                <li><a href="attorney-single.html">Nancy Williamson</a></li>
                                <li><a href="attorney-single.html">Stephen Fernando</a></li>
                                <li><a href="attorney-single.html">Serina Jaccobs</a></li>
                                <li><a href="attorney-single.html">Darren Flemming</a></li>
                            </ul>
                        </li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li class="dropdown"><a href="blog-classic.html">News</a>
                              <ul class="submenu">
                                <li><a href="blog-classic.html">Blog Classic Layout</a></li>
                                <li><a href="blog-list.html">Blog List Layout</a></li>
                                <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                <li><a href="blog-single.html">Blog Single Post</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="shop.html">Shop</a>
                            <ul class="submenu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="register-login.html">Register / Login</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div><!-- /.Side-menu -->

                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->


        <!--Main Slider-->
        <section class="main-slider revolution-slider">

            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>


                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 


                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="right" data-hoffset="-15"
                        data-y="center" data-voffset="-120"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="text-center">We Are Certified Family <br>Law Specialists</h1></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="right" data-hoffset="-80"
                        data-y="center" data-voffset="20"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text text-center">We Have Helped Thousands of People to Get Relief From National Wide Fights <br>WrongfullDenials. Now They Trusted Our Attorneys.</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="right" data-hoffset="-200"
                        data-y="center" data-voffset="110"
                        data-speed="1500"
                        data-start="1500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text-center"><a href="#" class="theme-btn btn-style-one">Contact Our Attorneys</a></div></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="right" data-hoffset="-200"
                        data-y="center" data-voffset="180"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text-center"><a href="#" class="normal-link"><span class="icon flaticon-circle-5"></span> View Our Practice Areas</a></div></div>

                        </li>


                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat"> 

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="-270"
                        data-y="bottom" data-voffset="30"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="logo-image"><img src="images/main-slider/man-image.png" alt=""></div></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="-140"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="logo-image"><img src="images/resource/central-logo.png" alt=""></div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="text-center">Senior Defence Lawyer <br>L.K. Antony</h1></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="110"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="phone-no">Call: +321 589 2369</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="180"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text-center"><a href="#" class="theme-btn btn-style-one">Make an Appoinment</a></div></div>


                        </li>


                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/3.jpg"  alt=""  data-bgposition="right top" data-bgfit="cover" data-bgrepeat="no-repeat"> 


                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="-150"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="smaller-title">We Are Lawyer Justice</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="-50"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h1 class="text-left">Attrorneys Fighting For <br>Your Freedom</h1></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="60"
                        data-speed="1500"
                        data-start="1500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text">We Have Helped Thousands of People to Get Relief From National Wide Fights <br>WrongfullDenials. Now They Trusted Our Attorneys.</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="150"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="text-center"><a href="#" class="theme-btn btn-style-one">Contact Our Attorneys</a></div></div>

                        </li>



                    </ul>

                </div>
            </div>
        </section>


        <!--Services Style One-->
        <section class="services-style-one">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Default Service Column-->
                    <article class="default-service-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="service-header">
                                <div class="icon"><span class="flaticon-medical"></span></div>
                                <h4>Consumer Law</h4>
                                <h3>Prevent From Business Malpractices.</h3>
                            </div>
                            <div class="text-content">
                                <div class="text">
                                    <p>Consumer protection is a group sed of laws and organizations ut designed to ensure the rights of consumers as well as fair trade.</p>
                                </div>

                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </article>

                    <!--Default Service Column-->
                    <article class="default-service-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="service-header">
                                <div class="icon"><span class="flaticon-people-1"></span></div>
                                <h4>Family Law</h4>
                                <h3>Deals With Family &amp; Domestic Relationship.</h3>
                            </div>
                            <div class="text-content">
                                <div class="text">
                                    <p>Family law (also we called matrimonial law) is an area of the law sed that deals with family matters &amp; family domestic relations and ect...</p>
                                </div>

                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </article>

                    <!--Default Service Column-->
                    <article class="default-service-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="service-header">
                                <div class="icon"><span class="flaticon-people"></span></div>
                                <h4>Criminal Law</h4>
                                <h3>Is Body of Law, Offence Against Justice. </h3>
                            </div>
                            <div class="text-content">
                                <div class="text">
                                    <p>Criminal law or penal law is the body of law that relates to crime. It regulat social conduct and labour proscribes whatever is threatening.</p>
                                </div>

                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </article>

                    <!--Default Service Column-->
                    <article class="default-service-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="service-header">
                                <div class="icon"><span class="flaticon-medical-1"></span></div>
                                <h4>Drug Control Law</h4>
                                <h3>Governments prohibit, except under licence.</h3>
                            </div>
                            <div class="text-content">
                                <div class="text">
                                    <p>Drug prohibition law is sed prohibition based laww by which is governnments prohibit, except underteh  licence, the production, supply.</p>
                                </div>

                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                            </div>
                        </div>
                    </article>

                </div>

                <hr>
            </div>
        </section>


        <!--About Section-->
        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--About Company-->
                    <div class="about-company default-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="styled-heading">
                                <h2>About Lawyer Justice</h2>
                            </div>
                            <div class="default-text-box">
                                <p>Since 1965, who loves or pursues or desires too obtains Attorneys of itself sed, will because it is pain, but because occasionally utcircumstances occurs ut in which toil and pain can procure him some great pleasure. To se takes a trivials example which was of us ever undertakes laborious physical exercise.</p>
                            </div>

                            <!--Columns Outer-->
                            <div class="columns-outer clearfix">
                                <!--Image Box-->
                                <div class="column image-column col-md-4 col-sm-4 col-xs-12">
                                    <figure class="image-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-1.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="fa fa-edit"></span></div>
                                                    <h3>Request a Quote</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                                <!--Image Box-->
                                <div class="column image-column col-md-4 col-sm-4 col-xs-12">
                                    <figure class="image-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-2.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="fa fa-black-tie"></span></div>
                                                    <h3>Investigation</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                                <!--Image Box-->
                                <div class="column image-column col-md-4 col-sm-4 col-xs-12">
                                    <figure class="image-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-3.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="fa fa-gavel"></span></div>
                                                    <h3>Legal Proceeding</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                            </div>

                            <div class="line-styled-heading">
                                <h2>Get Free Consultation</h2>
                            </div>
                            <div class="default-text-box">
                                <p>Laboris nisi ut aliquip ex ea commodo consequat duis sed aute irures dolor in some reprehenderit in voluptate velit esse cillum dolore eu fugiate nullas pariatur labour Excepteur sint occaecat cupidatat non proident, sunt inofficia.</p>

                                <div class="quote-text">“We can provide you with a free and confidentioal evaluation”.</div>
                            </div>

                            <div class="clearfix">
                                <div class="pull-left"><a href="#" class="theme-btn btn-style-one">Free Consultation</a></div>
                                <div class="pull-right"><p class="phone-info">For criminal charges: <span class="phone">+123.859.1263</span></p></div>
                            </div>


                        </div>
                    </div>

                    <!--Company History-->
                    <div class="company-history default-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="styled-heading">
                                <h2>Our History</h2>
                            </div>

                            <div class="row clearfix">

                                <!--Timeline Column-->
                                <div class="timeline-column col-md-6 col-sm-6 col-xs-12">

                                    <!--Company Timeline-->
                                    <div class="company-timeline">
                                        <!--Timeline Block-->
                                        <article class="timeline-block">
                                            <div class="year">1965<div class="curve"><span class="fa fa-caret-down"></span></div></div>
                                            <h3>Started at Florida</h3>
                                            <div class="text"><p>Best Standard dummy text ever since the dobo 1500s, when and ut sed printer took a galley of type and book.</p></div>
                                        </article>

                                        <!--Timeline Block-->
                                        <article class="timeline-block">
                                            <div class="year">1972<div class="curve"><span class="fa fa-caret-down"></span></div></div>
                                            <h3>Best company of the Year</h3>
                                            <div class="text"><p>There are many lawyer variations of passages of lorem Ipsum labour  available, but the  have suffered alteration.</p></div>
                                        </article>

                                        <!--Timeline Block-->
                                        <article class="timeline-block">
                                            <div class="year">1978<div class="curve"><span class="fa fa-caret-down"></span></div></div>
                                            <h3>Opening new office</h3>
                                            <div class="text"><p>If you are going to use a passage of Ipsum, case lawyer justice you need to be sure new office at Mexico City.</p></div>
                                        </article>

                                    </div>

                                </div>


                                <!--Timeline Column-->
                                <div class="carousel-column col-md-6 col-sm-6 col-xs-12">

                                    <!--Carousel Outer-->
                                    <div class="carousel-outer">
                                        <!--Image Carousel-->
                                        <ul class="image-carousel single-item-carousel">
                                            <li><a href="images/resource/default-image-4.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/default-image-4.jpg" alt=""></a></li>
                                            <li><a href="images/resource/default-image-4.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/default-image-4.jpg" alt=""></a></li>
                                            <li><a href="images/resource/default-image-4.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/default-image-4.jpg" alt=""></a></li>
                                        </ul>

                                    </div>

                                    <!--Graph Outer-->
                                    <div class="graph-outer">
                                        <!--Progress Chart-->
                                        <div class="chart-outer">
                                            <div class="center-text progress-text"><span class="count">845</span><br>Cases</div>
                                            <div class="won-text progress-text"><span class="count">755</span><br>Won</div>
                                            <div class="hold-text progress-text"><span class="count">35</span><br>Won</div>
                                            <div class="running-text progress-text"><span class="count">55</span><br>Running</div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--Two Column Fluid Section-->
        <section class="two-column-fluid">
            <div class="auto-container">

                <div class="row clearfix">

                    <!--Testimonial Column-->
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 testimonial-column">
                        <!--Bg Image-->
                        <div class="bg-color-layer"></div>
                        <div class="bg-image-layer" style="background-image:url(images/background/bg-testimonials.jpg)"></div>

                        <div class="inner-box">
                            <div class="carousel-box">
                                <div class="styled-heading"><h2>What Our Clients Say</h2></div>
                                <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                                <!--Testimonial Carousel-->
                                <ul class="testimonial-carousel single-item-carousel">

                                    <!--Slide Item-->
                                    <li class="slide-item">
                                        <div class="slide-text"><p>How to pursue pleasure rationally  consequences that are extremeely painful or again is there anyones who loves or  pursues or desires to obtain pain of itself because its sed great pleasure get well soon.</p></div>
                                        <div class="information clearfix">
                                            <div class="slide-info pull-left">
                                                <figure class="image-thumb"><img src="images/resource/testi-thumb-1.png" alt=""></figure>
                                                <h3>Alex Carolina</h3>
                                                <p>CEO of RJX Solutions</p>
                                            </div>
                                            <div class="signature pull-right"><img src="images/resource/signature-image.png" alt=""></div>
                                        </div>
                                    </li>

                                    <!--Slide Item-->
                                    <li class="slide-item">
                                        <div class="slide-text"><p>How to pursue pleasure rationally  consequences that are extremeely painful or again is there anyones who loves or  pursues or desires to obtain pain of itself because its sed great pleasure get well soon.</p></div>
                                        <div class="information clearfix">
                                            <div class="slide-info pull-left">
                                                <figure class="image-thumb"><img src="images/resource/testi-thumb-1.png" alt=""></figure>
                                                <h3>Alex Carolina</h3>
                                                <p>CEO of RJX Solutions</p>
                                            </div>
                                            <div class="signature pull-right"><img src="images/resource/signature-image.png" alt=""></div>
                                        </div>
                                    </li>

                                    <!--Slide Item-->
                                    <li class="slide-item">
                                        <div class="slide-text"><p>How to pursue pleasure rationally  consequences that are extremeely painful or again is there anyones who loves or  pursues or desires to obtain pain of itself because its sed great pleasure get well soon.</p></div>
                                        <div class="information clearfix">
                                            <div class="slide-info pull-left">
                                                <figure class="image-thumb"><img src="images/resource/testi-thumb-1.png" alt=""></figure>
                                                <h3>Alex Carolina</h3>
                                                <p>CEO of RJX Solutions</p>
                                            </div>
                                            <div class="signature pull-right"><img src="images/resource/signature-image.png" alt=""></div>
                                        </div>
                                    </li>

                                </ul><!--End Testimonial Carousel-->

                            </div>

                        </div>
                    </div>

                    <!--Why Us Column-->
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 whyus-column">
                        <div class="inner-box">
                            <div class="styled-heading"><h2>What Our Clients Say</h2></div>
                            <!--Icon Block-->
                            <article class="icon-block">
                                <div class="icon wow rollIn" data-wow-delay="300ms" data-wow-duration="1500ms"><span class="flaticon-scale"></span></div>
                                <h3>Fight For Justice</h3>
                                <div class="text"><p>Seeking justice in the world is a  sed significant emotional and investment when we follow this call, we’re deeply.</p></div>
                            </article>

                            <!--Icon Block-->
                            <article class="icon-block">
                                <div class="icon wow rollIn" data-wow-delay="0ms" data-wow-duration="1500ms"><span class="flaticon-baggage"></span></div>
                                <h3>Best Case Stratergy</h3>
                                <div class="text"><p>Proving liability in plaintiffs’ personal injury and complex civil litigation can be challenging and requires relent.</p></div>
                            </article>

                            <!--Icon Block-->
                            <article class="icon-block">
                                <div class="icon wow rollIn" data-wow-delay="600ms" data-wow-duration="1500ms"><span class="flaticon-people-2"></span></div>
                                <h3>Experienced Attorneys</h3>
                                <div class="text"><p>Lawyer Justice offers a broad range of opportunities for Speak Experienced attorneys to work you.</p></div>
                            </article>

                        </div>
                    </div>

                </div>

            </div>

        </section>


        <!--Team Section-->
        <section class="team-section">
            <div class="auto-container">

                <!--Styled Heading-->
                <div class="styled-heading centered">
                    <h2>Meet Our Attorneys</h2>
                </div>

                <div class="row clearfix">

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-1.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>David Vigo Michel</h3>
                                <div class="designation">Family Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">98765-12-345</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Davidvigo@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-2.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Jem Stone Lawrence</h3>
                                <div class="designation">Consumer Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">97877-32-100</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Jemstone@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-3.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Mercy Van Desosa</h3>
                                <div class="designation">Criminal Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">97901-23-456</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Mercydesosa@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-4.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Patrick John Meckey</h3>
                                <div class="designation">Consumer Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">98765-43-210</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Patrickmeckey@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>



                </div>

            </div>
        </section>


        <!--Consultation Section-->
        <section class="consult-section" style="background-image:url(images/background/consult-form-bg.jpg);">
            <div class="auto-container">

                <!--Styled Heading-->
                <div class="styled-heading">
                    <h2>Request a Free Consultation</h2>
                </div>

                <figure class="man-image hidden-xs"><img src="images/resource/man-image.png" alt=""></figure>

                <div class="default-form consultation-form">
                    <form method="post" action="index.html">
                        <div class="row clearfix">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <input type="text" name="fname" value="" placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <input type="text" name="lname" value="" placeholder="Last Name" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <input type="text" name="phone" value="" placeholder="Phone" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <select name="subject">
                                    <option>Criminal Law</option>
                                    <option>Family Law</option>
                                    <option>Consumer Law</option>
                                    <option>Drug Control Law</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <textarea name="message" placeholder="Message" required></textarea>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="theme-btn btn-style-one">Send Now</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>



        <!--News Section-->
        <section class="news-section">
            <div class="auto-container">

                <!--Styled Heading-->
                <div class="styled-heading centered">
                    <h2>Our Latest News</h2>
                </div>

                <div class="row clearfix">

                    <!--Column-->
                    <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/resource/blog-image-1.jpg" alt="">
                                <a href="#" class="default-overlay-outer">
                                    <div class="inner">
                                        <div class="content-layer">
                                            <div class="link-icon"><span class="fa fa-link"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </figure>
                            <div class="content">
                                <div class="date">21<br>Aug</div>

                                <div class="tags"><span class="icon fa fa-tags"></span>&ensp; <a href="#">Criminal Law</a>, <a href="#">Kidnapping</a></div>
                                <h3><a href="#">We won against criminal</a></h3>
                                <div class="text"><p>In this, Kidnapping the unlawful taking away or transportation of person against that person's will, usually to hold the person unlawfully.</p></div>
                                <a href="#" class="theme-btn read-more">Read More</a>
                            </div>
                            <ul class="post-info clearfix">
                                <li><span class="author-thumb"><img src="images/resource/small-author-thumb-1.png" alt=""></span> <a href="#">Desosa</a></li>
                                <li><span class="fa fa-comments"></span> <a href="#">6 Comments</a></li>
                                <li><span class="fa fa-heart"></span> <a href="#">12 Likes</a></li>
                            </ul>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/resource/blog-image-2.jpg" alt="">
                                <a href="#" class="default-overlay-outer">
                                    <div class="inner">
                                        <div class="content-layer">
                                            <div class="link-icon"><span class="fa fa-link"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </figure>
                            <div class="content">
                                <div class="date">27<br>Dec</div>

                                <div class="tags"><span class="icon fa fa-tags"></span>&ensp; <a href="#">Family Law</a>, <a href="#">Adultery</a></div>
                                <h3><a href="#">Legal issues regarding paternity</a></h3>
                                <div class="text"><p>Adultery  is extramarital sex that is considered objectionable on social, religious, moral or legal grounds though what sexual activities.</p></div>
                                <a href="#" class="theme-btn read-more">Read More</a>
                            </div>
                            <ul class="post-info clearfix">
                                <li><span class="author-thumb"><img src="images/resource/small-author-thumb-2.png" alt=""></span> <a href="#">Mackey</a></li>
                                <li><span class="fa fa-comments"></span> <a href="#">7 Comments</a></li>
                                <li><span class="fa fa-heart"></span> <a href="#">5 Likes</a></li>
                            </ul>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/resource/blog-image-3.jpg" alt="">
                                <a href="#" class="default-overlay-outer">
                                    <div class="inner">
                                        <div class="content-layer">
                                            <div class="link-icon"><span class="fa fa-link"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </figure>
                            <div class="content">
                                <div class="date">14<br>Jan</div>

                                <div class="tags"><span class="icon fa fa-tags"></span>&ensp; <a href="#">Consumer Law</a>, <a href="#">Privacy</a></div>
                                <h3><a href="#">Judgement, Unfair business</a></h3>
                                <div class="text"><p>Consumer prottection law or consumeer law is considered an area of law that regulates private law relationships between individual.</p></div>
                                <a href="#" class="theme-btn read-more">Read More</a>
                            </div>
                            <ul class="post-info clearfix">
                                <li><span class="author-thumb"><img src="images/resource/small-author-thumb-3.png" alt=""></span> <a href="#">Fernando</a></li>
                                <li><span class="fa fa-comments"></span> <a href="#">6 Comments</a></li>
                                <li><span class="fa fa-heart"></span> <a href="#">12 Likes</a></li>
                            </ul>
                        </div>
                    </article>

                </div>

            </div>
        </section>


        <!--Sponsors Section-->
        <section class="sponsors-section">
            <div class="auto-container">
                <div class="slider-outer">
                    <!--Sponsors Slider-->
                    <ul class="sponsors-slider">
                        <li><a href="#"><img src="images/sponsors/1.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/2.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/3.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/4.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/5.png" alt=""></a></li>
                    </ul>
                </div>

            </div>
        </section>


         <!--Info Section-->
        <section class="info-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Info Column-->
                    <article class="info-column col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="icon"><span class="fa fa-map-marker"></span></div>
                            <h3>Visit Our Office</h3>
                            <div class="text"><p>5648, VK 26th Lane Sparks Steet, <br>Opp Joe Park-Florida 26154.</p></div>
                        </div>
                    </article>

                    <!--Info Column-->
                    <article class="info-column col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="icon"><span class="fa fa-phone"></span></div>
                            <h3>Get Touch With Us</h3>
                            <div class="text"><p>+123 859 625, +321 569 742 <br>Lawyerjustice@Steelthemes.com</p></div>
                        </div>
                    </article>

                    <!--Info Column-->
                    <article class="info-column col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="icon"><span class="fa fa-clock-o"></span></div>
                            <h3>Office Timing</h3>
                            <div class="text"><p>Monday-Satday: 09.00am to 15.00pm <br>Sunday Holiday</p></div>
                        </div>
                    </article>


                </div>
            </div>
        </section>

        <!--Map Section-->
        <section class="map-section">
            <!--Map Container-->
            <div class="map-outer">
                <!--Map Canvas-->
                <div class="map-canvas"
                    data-zoom="12"
                    data-lat="-37.817085"
                    data-lng="144.955631"			  
                    data-type="roadmap"
                    data-hue="#ffc400"
                    data-title="Envato"
                    data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"							
                    style="height: 500px;">
                </div>

            </div>
        </section>
