<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lawyer Justice HTML5 Template | Homepage </title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/revolution-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-outer-container">
        <div class="page-wrapper">
            <div class="preloader"></div>
            <header class="main-header">
                <!-- Top Bar -->
                <div class="top-bar">
                    <div class="auto-container clearfix">
                        <!-- Top Left -->
                        <div class="top-left">
                            <div class="text">Our &nbsp;<a href="#">No Fee Promise</a>&nbsp; Means, No Cost Until Your Case is Won.</div>
                        </div>

                        <!-- Top Right -->
                        <div class="top-right clearfix">

                            <!--Search Box-->
                            <div class="search-box">
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <input type="search" name="search" value="" placeholder="Search Your Needs Here">
                                        <button type="submit" name="search" class="theme-btn search-btn"><span class="fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>

                            <!--Language Box-->
                            <div class="lang-box">
                                <div class="selected-btn sel-btn"><span class="flag-icon" style="background-image:url(images/icons/icon-flag.png);"></span><span class="language-label">English</span><span class="icon fa fa-caret-down"></span></div>
                                <ul class="lang-list">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Chinese</a></li>
                                    <li><a href="#">Arabic</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div><!-- Top Bar End -->
                <!--Middle Bar-->
                <div class="middle-bar">
                    <div class="auto-container">
                        <div class="clearfix">
                            <!--Logo Column-->
                            <div class="logo-column">
                                <figure class="logo"><a href="index.html"><img src="images/logo.png" alt="" title="Lawyer Justice"></a></figure>
                            </div>
                            <!--Info Column-->
                            <div class="info-column pull-left">
                                <p>5648 VK 26th Lane - Florida 26154.</p>
                                <h3>+123.859.1263</h3>
                            </div>
                            <!--Info Column-->
                            <div class="info-column pull-right">
                                <p>Office Hours: 09.00am - 17.00pm</p>
                                <h3>info@domain.com</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lower Section -->
                <div class="lower-section">
                    <div class="auto-container">

                        <!--Outer Box-->
                        <div class="outer-box clearfix">

                            <!-- Hidden Nav Toggler -->
                            <div class="nav-toggler">
                                <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                            </div><!-- / Hidden Nav Toggler -->
                            <!-- Main Menu -->
                            <nav class="main-menu">

                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation">
                                        <li class="current"><a href="index.html">Home</a></li>
                                        <li class="dropdown">
                                            <a  title="Về chúng tôi" href="@Url.Action("Index", "About", new { area = ""})">About Us</a>
                                            <ul>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li class="dropdown">
                                                    <a href="gallery.html">Gallery</a>
                                                    <ul>
                                                        <li><a href="gallery.html">Gallery</a></li>
                                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="error.html">404 Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="practice-areas.html">Practice Areas</a>
                                            <ul>
                                                <li><a href="law-single.html">Consumer Law</a></li>
                                                <li><a href="law-single.html">Family Law</a></li>
                                                <li><a href="law-single.html">Criminal Law</a></li>
                                                <li><a href="law-single.html">Drug Control Law</a></li>
                                                <li><a href="law-single.html">Business Law</a></li>
                                                <li><a href="law-single.html">Insurance Law</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="attorneys.html">Attorneys</a>
                                            <ul>
                                                <li><a href="attorney-single.html">David Vigo Michel</a></li>
                                                <li><a href="attorney-single.html">Jem Stone Lawrence</a></li>
                                                <li><a href="attorney-single.html">Mercy Van Desosa</a></li>
                                                <li><a href="attorney-single.html">Patrick John Meckey</a></li>
                                                <li><a href="attorney-single.html">Nancy Williamson</a></li>
                                                <li><a href="attorney-single.html">Stephen Fernando</a></li>
                                                <li><a href="attorney-single.html">Serina Jaccobs</a></li>
                                                <li><a href="attorney-single.html">Darren Flemming</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li class="dropdown">
                                            <a href="blog-classic.html">News</a>
                                            <ul>
                                                <li><a href="blog-classic.html">Blog Classic Layout</a></li>
                                                <li><a href="blog-list.html">Blog List Layout</a></li>
                                                <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                                <li><a href="blog-single.html">Blog Single Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="shop.html">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="register-login.html">Register / Login</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->

                            <div class="link-box"><a href="#" class="theme-btn">Free Consultation</a></div>

                        </div>
                    </div>
                </div><!-- Lower Section End-->

            </header>
                @RenderBody()
            <footer class="main-footer">
                <!--Footer Upper-->
                <div class="footer-upper" style="background-image:url(images/background/footer-bg.jpg);">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Two 4th column-->
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                        <div class="footer-widget about-widget">
                                            <h3>About Lawyer Justice</h3>
                                            <div class="text">
                                                <p>Since 1965, who loves or pursues seds or ut desires too obtains <a href="#">Attorneys</a> of itself sed, will ut because it is pain, but because occasionally labor uts lawyer Lawyer Justice occurs.</p>
                                                <p>Lawyer Justice who loves or pursues seds or ut desires too obtains of itself sed, will ut because it is  Lawyer.</p>
                                            </div>

                                            <a href="#" class="theme-btn btn-style-one">Buy this Theme</a>

                                        </div>
                                    </div>

                                    <!--Footer Column-->
                                    <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                        <h3>Usefull Links</h3>
                                        <div class="row clearfix">

                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="footer-widget links-widget">
                                                    <ul>
                                                        <li><a href="#">Family Law</a></li>
                                                        <li><a href="#">Criminal Law</a></li>
                                                        <li><a href="#">Drug Law</a></li>
                                                        <li><a href="#">Business Law</a></li>
                                                        <li><a href="#">Insurance Law</a></li>
                                                        <li><a href="#">Judicial Law</a></li>
                                                        <li><a href="#">Accident Law</a></li>
                                                        <li><a href="#">Devorce Law</a></li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="footer-widget links-widget">
                                                    <ul>
                                                        <li><a href="#">About Us</a></li>
                                                        <li><a href="#">Attorneys</a></li>
                                                        <li><a href="#">Our Blog</a></li>
                                                        <li><a href="#">FAQs</a></li>
                                                        <li><a href="#">Consultation</a></li>
                                                        <li><a href="#">Offices</a></li>
                                                        <li><a href="#">Careers</a></li>
                                                        <li><a href="#">Contact Us</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div><!--Two 4th column End-->
                            <!--Two 4th column-->
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="row clearfix">
                                    <!--Footer Column-->
                                    <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                        <div class="footer-widget twitter-feeds">
                                            <h3>Latest Tweets</h3>
                                            <div class="feed">
                                                <div class="icon"><span class="fa fa-twitter"></span></div>
                                                <div class="feed-content">Lawyer Justice is Best Template Now.</div>
                                                <div class="time">10 Mins Ago</div>
                                            </div>

                                            <div class="feed">
                                                <div class="icon"><span class="fa fa-twitter"></span></div>
                                                <div class="feed-content">They Provide Best Service in the World.</div>
                                                <div class="time">2 Hours Ago</div>
                                            </div>

                                            <div class="feed">
                                                <div class="icon"><span class="fa fa-twitter"></span></div>
                                                <div class="feed-content">Lawyer Justice Have experinced Attorneys.</div>
                                                <div class="time">2 Hours Ago</div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--Footer Column-->
                                    <div class="col-lg-6 col-sm-6 col-xs-12 column">
                                        <div class="footer-widget newsletter-widget">
                                            <h3>Newsletter</h3>

                                            <div class="newsletter-form">
                                                <p>Sign up for our mailing list to get latest updates and offers.</p>
                                                <form method="post" action="index.html">
                                                    <div class="form-group">
                                                        <input type="email" name="useremail" value="" placeholder="Email address" required>
                                                        <button type="submit" class="theme-btn btn-submit">Go</button>
                                                    </div>
                                                    <p><em>Your mail id is Confidential</em></p>
                                                </form>
                                            </div>

                                            <h4>Follow Us On</h4>

                                            <div class="social-links">
                                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                                <a href="#"><span class="fa fa-twitter"></span></a>
                                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                                <a href="#"><span class="fa fa-linkedin"></span></a>
                                                <a href="#"><span class="fa fa-skype"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--Two 4th column End-->

                        </div>

                    </div>
                </div>

                <!--Footer Bottom-->
                <div class="footer-bottom">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12"><div class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by SteelThemes</div></div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <!--Bottom Nav-->
                                <nav class="footer-nav clearfix">
                                    <ul class="pull-right clearfix">
                                        <li><a href="#">Terms Of Use </a></li>
                                        <li><a href="#">Privacy &amp; Security Statement</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
    </div>
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/revolution.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/map-script.js"></script><!--Google Map-->
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>

</body>
</html>

