<section class="hidden-bar right-align">

            <div class="hidden-bar-closer">
                <button class="btn"><i class="fa fa-close"></i></button>
            </div>
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">

                <!-- .logo -->
                <div class="logo text-center">
                    <a href="index.html"><img src="images/logo-3.png" alt=""></a>			
                </div><!-- /.logo -->

                <!-- .Side-menu -->
                <div class="side-menu">
                <!-- .navigation -->
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="about-us.html">About Us</a>
                            <ul class="submenu">
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li class="dropdown"><a href="gallery.html">Gallery</a>
                                    <ul class="submenu">
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="error.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="practice-areas.html">Practice Areas</a>
                            <ul class="submenu">
                                <li><a href="law-single.html">Cosumer Law</a></li>
                                <li><a href="law-single.html">Family Law</a></li>
                                <li><a href="law-single.html">Criminal Law</a></li>
                                <li><a href="law-single.html">Drug Control Law</a></li>
                                <li><a href="law-single.html">Business Law</a></li>
                                <li><a href="law-single.html">Insurance Law</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="attorneys.html">Attorneys</a>
                            <ul class="submenu">
                                <li><a href="attorney-single.html">David Vigo Michel</a></li>
                                <li><a href="attorney-single.html">Jem Stone Lawrence</a></li>
                                <li><a href="attorney-single.html">Mercy Van Desosa</a></li>
                                <li><a href="attorney-single.html">Patrick John Meckey</a></li>
                                <li><a href="attorney-single.html">Nancy Williamson</a></li>
                                <li><a href="attorney-single.html">Stephen Fernando</a></li>
                                <li><a href="attorney-single.html">Serina Jaccobs</a></li>
                                <li><a href="attorney-single.html">Darren Flemming</a></li>
                            </ul>
                        </li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li class="dropdown"><a href="blog-classic.html">News</a>
                              <ul class="submenu">
                                <li><a href="blog-classic.html">Blog Classic Layout</a></li>
                                <li><a href="blog-list.html">Blog List Layout</a></li>
                                <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                <li><a href="blog-single.html">Blog Single Post</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="shop.html">Shop</a>
                            <ul class="submenu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="register-login.html">Register / Login</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div><!-- /.Side-menu -->

                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div><!-- / Hidden Bar Wrapper -->
        </section><!-- / Hidden Bar -->


        <!--Page Title-->
        <section class="page-title" style="background-image:url(images/background/pagetitle-bg.jpg);">
            <div class="auto-container">
                <h1>About Lawyer Justice</h1>
            </div>
        </section>

        <!--Page Info-->
        <section class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left"><h2>About Us</h2></div>
                <div class="pull-right">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>


        <!--Welcome Section-->
        <section class="welcome-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Column-->
                    <div class="content-column column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="text-header">
                                <h2 class="theme_color">Welcome to Lawyer Justice</h2>
                                <h2 class="text-uppercase">We Are World’s First Certified Family Law Specialists.</h2>
                            </div>
                            <div class="text-content">

                                <div class="row clearfix">
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <div class="text">
                                            <p>Since 1965, who loves or pursues seds or desiress too obtains Attorneys of itself sed, will becausee it is pain but because occasionally utcircumstance occurs ut in which toil and pain cansome great. </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-xs-12">

                                        <!--Text Carousel-->
                                        <div class="text-carousel-outer">

                                            <ul class="text-carousel single-item-carousel">
                                                <li class="slide-item">
                                                    <h3>42,500</h3>
                                                    <p>Criminal Cases Won</p>
                                                </li>
                                                <li class="slide-item">
                                                    <h3>42,500</h3>
                                                    <p>Criminal Cases Won</p>
                                                </li>
                                            </ul>

                                        </div><!--End Text Carousel-->

                                    </div>

                                </div>

                                <div class="text">
                                    <p>Attorneys pursues or desires ut too obtains of itself seds, will because it is pain, but because occasionally utcircumstances occurs ut in which toil and pain can procure him some great pleasure. To se takes a trivials example which was of us ever lawyer Justice undertakes laborious physical exercise.</p>
                                </div>

                                <a href="#" class="theme-btn btn-style-one">More About Us</a>

                            </div>
                        </div>
                    </div><!--End Content Column-->

                     <!--Laws Column-->
                    <div class="laws-column column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <!--Columns Outer-->
                            <div class="row clearfix">
                                <!--Image Box-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <figure class="image-box wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-5.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="flaticon-medical"></span></div>
                                                    <h3>Consumer Law</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                                <!--Image Box-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <figure class="image-box wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-6.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="flaticon-people-1"></span></div>
                                                    <h3>Family Law</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                                <!--Image Box-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <figure class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-7.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="flaticon-people"></span></div>
                                                    <h3>Criminal Law</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                                <!--Image Box-->
                                <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                    <figure class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <img src="images/resource/default-image-8.jpg" alt="">
                                        <a href="#" class="default-overlay-outer">
                                            <div class="inner">
                                                <div class="content-layer">
                                                    <div class="icon"><span class="flaticon-medical-1"></span></div>
                                                    <h3>Drug Control Law</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div><!--End Laws Column-->

                </div>

                <hr>
            </div>
        </section>


         <!--Default Section-->
        <section class="default-section">
            <div class="auto-container">

                <div class="row clearfix">

                    <!--Default Column-->
                    <div class="default-column col-lg-6 col-md-12 col-xs-12">
                        <!--Styled Heading-->
                        <div class="styled-heading">
                            <h2>Over 50 Years Experience</h2>
                        </div>
                        <!--Our Experience-->
                        <div class="our-experience">
                            <div class="desc-text">
                                <p>Lawyer Justice has over 36 years of proven success, having recovered tens of  for injured clients.pursues or desires ut too obtains of itself seds.</p>
                            </div>

                            <!--Timeline Outer-->
                            <div class="timeline-outer">
                                <div class="left-line"></div>

                                <!--Experience Block-->
                                <article class="experience-block">
                                    <figure class="image-box"><img src="images/resource/default-image-9.jpg" alt=""><div class="date">1965</div></figure>
                                    <div class="content">
                                        <h3>Started at Florida</h3>
                                        <p>Criminal law or penal law is the body of law that relates to crime. It regulat  seds social conduct and labour proscribes whatever is threatening.</p>
                                    </div>
                                </article>

                                <!--Experience Block-->
                                <article class="experience-block">
                                    <figure class="image-box"><img src="images/resource/default-image-10.jpg" alt=""><div class="date">1972</div></figure>
                                    <div class="content">
                                        <h3>Best Attorney of the Year 1971-72</h3>
                                        <p>There are many lawyer variations of lorem Ipsum labour  available, but seds the  have suffered alteration ut regulat conduct and labour proscribes whatever in law.</p>
                                    </div>
                                </article>

                                <!--Experience Block-->
                                <article class="experience-block">
                                    <figure class="image-box"><img src="images/resource/default-image-11.jpg" alt=""><div class="date">1978</div></figure>
                                    <div class="content">
                                        <h3>Judgement Day of Criminal Case</h3>
                                        <p>Drug prohibition law is seds uts prohibition based laww by which is laws governnments prohibit, except underteh  licence,  get the production supply.</p>
                                    </div>
                                </article>

                            </div>
                        </div>

                    </div>


                    <!--Default Column-->
                    <div class="default-column col-lg-6 col-md-12 col-xs-12">
                        <!--Styled Heading-->
                        <div class="styled-heading">
                            <h2>What We Offering to You</h2>
                        </div>

                        <!--Accordion Box-->
                        <div class="accordion-box">
                            <!-- Accordion -->
                            <div class="accordion accordion-block">
                                <div class="accord-btn active"><h4>Direct Way Of Justice</h4></div>
                                <div class="accord-content collapsed">
                                    <div class="clearfix">
                                        <figure class="image-box">
                                            <img src="images/resource/default-image-12.jpg" alt="">
                                            <a href="#" class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <div class="icon"><span class="fa fa-link"></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <p>A lawsuit (or suit in law) is "a vernacular sed term for a suit, action, or cause instituted or depending upon between two private persons in the courts of law. The term refers to any proceeding by a party or parties against another in a court of law Sometimes, the term "lawsuit". </p>
                                        <p>Is in reference to a civil action brought inn a courts of law in which a plaintiff, a party who claims to have incurreed loss as a results ut of a defendant's actions demands a legal or equitable remedy. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion -->
                            <div class="accordion accordion-block">
                                <div class="accord-btn"><h4>Corporate Lawsuits</h4></div>
                                <div class="accord-content">
                                    <div class="clearfix">
                                        <figure class="image-box">
                                            <img src="images/resource/default-image-12.jpg" alt="">
                                            <a href="#" class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <div class="icon"><span class="fa fa-link"></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <p>A lawsuit (or suit in law) is "a vernacular sed term for a suit, action, or cause instituted or depending upon between two private persons in the courts of law. The term refers to any proceeding by a party or parties against another in a court of law Sometimes, the term "lawsuit". </p>
                                        <p>Is in reference to a civil action brought inn a courts of law in which a plaintiff, a party who claims to have incurreed loss as a results ut of a defendant's actions demands a legal or equitable remedy. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion -->
                            <div class="accordion accordion-block">
                                <div class="accord-btn"><h4>Protecting Your Business</h4></div>
                                <div class="accord-content">
                                    <div class="clearfix">
                                        <figure class="image-box">
                                            <img src="images/resource/default-image-12.jpg" alt="">
                                            <a href="#" class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <div class="icon"><span class="fa fa-link"></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <p>A lawsuit (or suit in law) is "a vernacular sed term for a suit, action, or cause instituted or depending upon between two private persons in the courts of law. The term refers to any proceeding by a party or parties against another in a court of law Sometimes, the term "lawsuit". </p>
                                        <p>Is in reference to a civil action brought inn a courts of law in which a plaintiff, a party who claims to have incurreed loss as a results ut of a defendant's actions demands a legal or equitable remedy. </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Accordion -->
                            <div class="accordion accordion-block">
                                <div class="accord-btn"><h4>Fight For Justice</h4></div>
                                <div class="accord-content">
                                    <div class="clearfix">
                                        <figure class="image-box">
                                            <img src="images/resource/default-image-12.jpg" alt="">
                                            <a href="#" class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <div class="icon"><span class="fa fa-link"></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <p>A lawsuit (or suit in law) is "a vernacular sed term for a suit, action, or cause instituted or depending upon between two private persons in the courts of law. The term refers to any proceeding by a party or parties against another in a court of law Sometimes, the term "lawsuit". </p>
                                        <p>Is in reference to a civil action brought inn a courts of law in which a plaintiff, a party who claims to have incurreed loss as a results ut of a defendant's actions demands a legal or equitable remedy. </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Accordion -->
                            <div class="accordion accordion-block">
                                <div class="accord-btn"><h4>Relationship Based On Trust</h4></div>
                                <div class="accord-content">
                                    <div class="clearfix">
                                        <figure class="image-box">
                                            <img src="images/resource/default-image-12.jpg" alt="">
                                            <a href="#" class="default-overlay-outer">
                                                <div class="inner">
                                                    <div class="content-layer">
                                                        <div class="icon"><span class="fa fa-link"></span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <p>A lawsuit (or suit in law) is "a vernacular sed term for a suit, action, or cause instituted or depending upon between two private persons in the courts of law. The term refers to any proceeding by a party or parties against another in a court of law Sometimes, the term "lawsuit". </p>
                                        <p>Is in reference to a civil action brought inn a courts of law in which a plaintiff, a party who claims to have incurreed loss as a results ut of a defendant's actions demands a legal or equitable remedy. </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>


        <!--Awards Section-->
        <section class="awards-section" style="background-image:url(images/parallax/image-1.jpg);">
            <div class="auto-container">

                <!--Styled Heading-->
                <div class="styled-heading centered">
                    <h2>Our Awards &amp; Commendations</h2>
                </div>

                <div class="row clearfix">

                    <!--Column-->
                    <article class="award-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="#"><img src="images/resource/award-image-1.png" alt=""></a></figure>
                            <div class="award-info">
                                <h3>Nationally Ranked, 2014-15</h3>
                                <p>DUI Attorney By The NAFDD</p>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="award-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="#"><img src="images/resource/award-image-2.png" alt=""></a></figure>
                            <div class="award-info">
                                <h3>ASLA Top Lawyers, 2015-16</h3>
                                <p>Award Given By ASLA</p>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="award-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="#"><img src="images/resource/award-image-3.png" alt=""></a></figure>
                            <div class="award-info">
                                <h3>Million Dollar Advocates</h3>
                                <p>Year 2013-14</p>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="award-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><a href="#"><img src="images/resource/award-image-4.png" alt=""></a></figure>
                            <div class="award-info">
                                <h3>Nationally Ranked, 2013-14</h3>
                                <p>DUI Attorney By The NAFDD</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>


        <!--Team Section-->
        <section class="team-section">
            <div class="auto-container">

                <!--Styled Heading-->
                <div class="styled-heading centered">
                    <h2>Meet Our Attorneys</h2>
                </div>

                <div class="row clearfix">

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-1.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>David Vigo Michel</h3>
                                <div class="designation">Family Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">98765-12-345</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Davidvigo@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-2.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Jem Stone Lawrence</h3>
                                <div class="designation">Consumer Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">97877-32-100</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Jemstone@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-3.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Mercy Van Desosa</h3>
                                <div class="designation">Criminal Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">97901-23-456</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Mercydesosa@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--Column-->
                    <article class="column team-member col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image"><a href="mailto:mail@email.com"><img src="images/resource/team-image-4.jpg" alt=""></a></figure>
                            <div class="member-info">
                                <h3>Patrick John Meckey</h3>
                                <div class="designation">Consumer Lawyer</div>
                            </div>
                            <div class="content">
                                <ul class="contact-info">
                                    <li><span class="icon fa fa-phone"></span> <a href="#">98765-43-210</a></li>
                                    <li><span class="icon fa fa-envelope-o"></span> <a href="#">Patrickmeckey@domain.com</a></li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><span class="fa fa-facebook-f"></span></a>
                                    <a href="#"><span class="fa fa-twitter"></span></a>
                                    <a href="#"><span class="fa fa-google-plus"></span></a>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </article>



                </div>

            </div>
        </section>


        <!--Sponsors Section-->
        <section class="sponsors-section">
            <div class="auto-container">
                <div class="slider-outer">
                    <!--Sponsors Slider-->
                    <ul class="sponsors-slider">
                        <li><a href="#"><img src="images/sponsors/1.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/2.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/3.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/4.png" alt=""></a></li>
                        <li><a href="#"><img src="images/sponsors/5.png" alt=""></a></li>
                    </ul>
                </div>

            </div>
        </section>

